---
import Layout from '../layouts/Layout.astro'
import { JiraForm } from '../components/Jira'
---

<Layout title="Process Jira CSV Export">
  <h1>Jira Tools</h1>

  <JiraForm client:load />
</Layout>
