---
import Layout from '../layouts/Layout.astro';
import { JiraForm } from '../components/Jira';
---

<Layout title="Tools | Process Jira CSV export">
	<h1>Jira Tools</h1>

	<JiraForm client:load />
</Layout>